<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YouTube Audio Cutter</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>🎧 YouTube Audio Cutter</h1>
    <p>Fast • Clean • High Quality</p>

    <form method="POST">
        <input type="text" name="url" placeholder="Enter YouTube URL" required>

        <div class="time-inputs">
            <input type="text" name="start" placeholder="Start (HH:MM:SS)" required>
            <input type="text" name="end" placeholder="End (HH:MM:SS)" required>
        </div>

        <button type="submit">⚡ Generate MP3</button>
    </form>
</div>

</body>
</html>